@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .create-section-title {
    @apply text-mds-white font-semibold lg:text-[2.43rem] xl:text-[3.2rem] 2xl:text-[3.9rem];
  }

  .create-section-subtitle {
    @apply text-mds-white font-semibold text-2xl;
  }

  .create-section-description {
    @apply text-mds-gray-100 mt-2 text-xl;
  }
  .create-section-description a {
    @apply text-mds-cyan ml-2 cursor-pointer;
  }
}

@layer base {
  html {
    font-family: 'Sora';
    overflow: unset !important;
    padding-right: 0 !important;
  }

  .button-gradient {
    transition: 0.01s;
    background: linear-gradient(to right top, #ff05e6, #c47dfd, #83f0ff);
    background-size: 160%;
  }

  .button-gradient:hover {
    background-position-x: 60%;
  }

  .border-gradient {
    position: relative;
    border: 4 solid transparent;
    background: linear-gradient(239.75deg, #141118 3.24%, #1e152b 98.25%);
    background-clip: padding-box;
    border-radius: 35px;
  }

  .border-gradient::after {
    content: '';
    opacity: 0.5;
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;

    background: linear-gradient(45deg, #ff05e6, #83f0ff);
    z-index: -1;
    border-radius: 38px;
  }

  .glass-effect {
    box-sizing: border-box;
    background: linear-gradient(
      327.61deg,
      rgba(0, 0, 0, 0.1) 10.37%,
      rgba(41, 41, 41, 0.4) 105.04%
    );
    box-shadow: 0px 4px 24px 9px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    border: solid 3px #4f4f4f5a;
  }

  .select-disable {
    z-index: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}
